input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 999px;
	background: #ffffff;
	border: 2px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 999px;
	background: #ffffff;
	border: 2px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	pointer-events: auto;
}
