@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap";
@import url("assets/scss/style.scss");
@import "react-quill/dist/quill.snow.css";

@theme {
	--color-primary: #00927c;
	--color-secondary: #eaf0f1;
}

@import "tailwindcss";
@source "./index.html" "./src/**/*.{js,ts,jsx,tsx}";

body {
	margin: 0;
	font-family:
		"Montserrat",
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-cream-soft);
	color: #111827;
	line-height: 1.5;
}

code {
	font-family:
		"Montserrat",
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

:root {
	--color-primary: #00927c;
	--color-secondary: #eaf0f1;

	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;

	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-black: #000;

	--bs-primary: var(--bs-blue);
	--bs-secondary: var(--bs-gray-600);
	--bs-success: var(--bs-green);
	--bs-info: var(--bs-cyan);
	--bs-warning: var(--bs-yellow);
	--bs-danger: var(--bs-red);
	--bs-light: var(--bs-gray-100);
	--bs-dark: var(--bs-gray-900);

	--topbar-h: 35px;
	--navbar-h: 70px;

	--color-cream-soft: #f8eee2;
	--color-cream-soft-hover: #fff9f3;
	--color-cream-thick: #f5e4d3;
	--color-cream-bg: #f8e7d5;
	--color-cream-bg-hover: #fff8f0;
	--color-cream-light: #f1d6bc;
	--color-text-light: #edc0b3;
	--color-card-bg: #b45c4e;
	--color-card-bg-hover: #9e4e41;
	--color-card-thick: #a44c40;
	--color-card-light: #9e4e41;
	--color-card-soft: #d18976;
	--color-card-soft-hover: #b76e5e;
	--color-card-weak: #eab59e;

	--color-brand-bg: #161c25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin: 0;
}

a {
	color: var(--color-cream-bg);
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.item-icons > svg {
	width: 20px;
	height: 20px;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

#root {
	height: 100%;
}

button {
	cursor: pointer;
}

.sep {
	border: 1px solid var(--color-card-bg);
}

/* .footer-item-content a {
	color: var(--color-card-bg) !important;
} */

.footer *:not(svg):not(svg *) {
	color: var(--color-cream-bg);
}

/* Scroll bar Global CSS */
@layer utilities {
	.thin-scrollbar {
		scrollbar-width: thin;
		scrollbar-color: #e4b8a2 transparent; /* Firefox */
	}

	.thin-scrollbar::-webkit-scrollbar {
		width: 8px;
		background: transparent;
	}

	.thin-scrollbar::-webkit-scrollbar-track {
		background: linear-gradient(to bottom, #f8eee2, #f6e6da);
		border-radius: 9999px;
	}

	.thin-scrollbar::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, #e4b8a2, #d18976);
		border-radius: 9999px;
		box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
		transition: all 0.25s ease;
	}

	.thin-scrollbar::-webkit-scrollbar-thumb:hover {
		background: linear-gradient(180deg, #d18976, #b76a57);
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
	}

	.thin-scrollbar::-webkit-scrollbar-thumb:active {
		background: #a85a47;
	}

	.thin-scrollbar::-webkit-scrollbar-button {
		display: none;
		width: 0;
		height: 0;
	}
}
